@import "../../../css-config/mixins.scss";
*{
    margin: 0;
    padding: 0;
}
.content{
    overflow-anchor: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    @include md{
        flex-direction: row;
    }
    padding: 40px;
    padding-top:0px ;
    @include md{
        height: calc(100vh - 80px);
    }
    .hero-img{
        position: relative;
        top: 25px;
        width: 60vw;
        @include md{
         width: 40vw;
        }
        z-index: 9;
        background-color: rgba(255, 255, 255, 0);
    }
    .text-content{
        font-family: 'Poppins';
        position: relative;
        left: 37px;
        h1{
            font-size: 60px;
            font-weight: 800;
            line-height: 80px;
         }
        p{
            font-size: medium;
            color: rgb(137, 135, 135);
            font-weight: 300;
        }
        @include md{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .ctas{
            display: flex;
            gap: 20px;
            .Rcta{
                border: 2px solid white;
                padding: 4px 16px;
            }
            .Dcta{
                border: 2px solid white;
                background-color: white;
                color: black;
                padding: 4px 16px;
            }
        }
    }
}
.btn{
    position: relative;
    cursor: pointer;
    text-align: center;
    border: 2px solid white;
    padding: 4px 16px;
    border-radius: 0px;
    overflow: hidden;
    z-index: 2;
   }
   .btn:hover span{
    background-color: rgba(0, 0, 0, 0);
    color:black;
    z-index: 2;
   }
   .btn .hover{
      position: absolute;
      background: white;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translatey(100%);
      z-index: -1;
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: top;
   }
   .btn:hover .hover{
    transform: translatey(0%);
    transform-origin: bottom;
}
