@import "../../css-config/mixins.scss";
.Sale-products-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    .category-heading{
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
        width: fit-content;
        text-transform: uppercase;
        position: relative;
        // border: 2px solid #e77021;
        padding: 2px 6px;
        @include md{
            margin: 0 auto;
            margin-bottom: 48px;
        }
        // box-shadow: #f1f0f0 4px 4px;
        margin-bottom: 35px;
        border-bottom: 2px solid #e77021;
        
    }
    .Sale-product-cards{
        max-width: calc(100% - 20px);
        max-height: fit-content;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 20px;
        overflow-x: scroll;
        @include md{
          flex-flow: wrap;
          overflow: hidden;
        }
    }
}